---
layout: page
title: Music
subtitle: Listen to our tracks
---

<div class="albums-list">
  {% for album in site.data.albums %}
  <div class="album-card">
    {% if album.artwork %}
    <div class="album-artwork">
      <img src="{{ album.artwork }}" alt="{{ album.title }}">
    </div>
    {% endif %}

    <div class="album-details">
      <h2>{{ album.title }}</h2>
      <p class="album-meta">{{ album.artist }} &middot; {{ album.year }}</p>

      {% if album.bandcamp_embed and album.bandcamp_embed != "" %}
      <div class="music-player bandcamp-player">
        <h4>Listen on Bandcamp</h4>
        <iframe style="border: 0; width: 100%; height: 120px;" src="{{ album.bandcamp_embed }}" seamless></iframe>
      </div>
      {% endif %}

      {% if album.spotify_embed and album.spotify_embed != "" %}
      <div class="music-player spotify-player">
        <h4>Listen on Spotify</h4>
        <iframe style="border-radius:12px" src="{{ album.spotify_embed }}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      {% endif %}

      {% if album.tracks.size > 0 %}
      <div class="track-list">
        <h4>Track List</h4>
        <ol>
          {% for track in album.tracks %}
          <li>
            <span class="track-title">{{ track.title }}</span>
            <span class="track-duration">{{ track.duration }}</span>
          </li>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
