---
layout: page
title: News
subtitle: Latest updates
---

<div class="posts-list">
  {% for post in site.posts %}
  <article class="post-card post-card-horizontal">
    {% if post.image %}
    <div class="post-image">
      <a href="{{ post.url | relative_url }}">
        <img src="{{ post.image }}" alt="{{ post.title }}">
      </a>
    </div>
    {% endif %}
    <div class="post-content">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url | relative_url }}" class="read-more">Read more &rarr;</a>
    </div>
  </article>
  {% endfor %}
</div>
