---
layout: page
title: Video
subtitle: Watch
---

{% if site.data.videos.size > 0 %}
<div class="video-gallery">
  {% for video in site.data.videos %}
  <div class="video-item">
    <div class="video-embed">
      <iframe src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
    </div>
    <div class="video-info">
      <h3>{{ video.title }}</h3>
      {% if video.description %}
      <p>{{ video.description }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="no-content">Videos coming soon!</p>
{% endif %}
